    body{
    background: #232323;
    }

    .square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20px;
    }

    #container{
    margin: 0 auto;
    max-width: 600px;
    }

    h1{
    color: white;
    }

    #stripe{
    background: white;
    height:30px;
    text-align: center;
    color: #000;
    }

    .selected{
        background: blue;
    }